/******************************************************************************
*  Publication generic
******************************************************************************/
 div.publicationListItem {

}
 div.publicationListItemInline {
	padding-bottom:0.5em;
	margin-bottom:0.5em;
    border-bottom: 1px solid #eaeaea;
}
 div.publicationListItemInline p{
	margin: 0;
	padding:0;
}

 div.publicationListSpace {
    margin: 5px;
    padding: 5px;
    border: 1px solid #eaeaea;
}

 div.publicationPhoto {
    float: left;
    width: 48px;
    height: 48px;
    display: block;
    overflow: hidden;
}

 .publicationAuthor {
    font-size: 85%;
    margin: 0;
	padding:0;
}

 .publicationSource {
    font-size: 85%;
    margin: 0;
	padding:0;
}

 .publicationDate {
    font-size: 85%;
    margin: 0;
	padding:0;
}

 .publicationDescription {
    font-size: 85%;
    margin: 0;
	padding:0;
}

 .publicationBody {
    margin: 0 0 0 60px;
}

 .publicationAction {
    font-size: 85%;
}

 .publicationAction a,
 .publicationAction a:link,
 .publicationAction a:visited {
    margin-right: 0.5em;
}

 .publicationAction a:hover,
     .publicationAction a:active {
    text-decoration: underline;
}

 a.publicationDownload {
    background: transparent url( img/publicationdownload.png ) no-repeat 0% 50%;
    padding-left: 16px;
}

 span.publicationDocSize {
    font-size: 80%;
    margin-left: 0.2em;
    font-weight: normal
}