/******************************************************************************
*  Summary
******************************************************************************/
 ul.summary,  .summary {
	margin:10px 0;
	line-height:130%;
	padding: 10px;
	background-color:#eaeaea;
	border:1px solid #ccc;
	list-style:none;
}
 .summary a,
 .summary a:link,
 .summary a:visited {
	text-decoration:none;
}
 .summary a:hover,
 .summary a:active {
	text-decoration:underline;
}

 .summary ul {
	margin:0;
	padding:0 0 0 2em;
	list-style:none;
}
 .summary li {
	padding:0;
	margin-bottom:10px
}