/*****************************************************************************	*
*  jobsSearchForm Form
******************************************************************************/
 div.jobsSearchForm{
	clear:both;
	margin:1em auto;
	background:#fff url(img/jobform.png) repeat-x top left;
	border:1px solid #ccc;
	padding:0.5em 0;
}
 div.jobsSearchForm p{
	clear:both;
}
 .jobsSearchForm legend{
	display:none;
}
 .jobsSearchForm fieldset{
	border:none;
}
 .jobsSearchForm label{
	float:left; 
	width:200px;
	margin:0 1em 0 1em;
	padding:2px;
	text-align:right;
}

 .jobsSearchForm .divButton{
	text-align:center;
	margin:0.5em 0;
}
 .jobsSearchForm .Form input.button {
	margin-left:0.5em;
}
 .jobsSearchForm {
	margin-bottom:1em;
	clear:both;
	width:100%;
	position:relative
}
/******************************************************************************
*  job item
******************************************************************************/
 .jobLabel {
font-weight:bold;
}

 .jobInfo{
	border:1px solid #ccc;
	float:right;
	padding:10px;
	margin:0 0 0.5em 0.5em ;
	width:200px;
}
 .jobInfo p{
	margin:0;
	padding:0;
}
 .jobAction{
	font-size:85%;
	font-weight:bold;
	clear:both;
}
 .jobAction a,
 .jobAction a:link,
 .jobAction a:visited {
	margin-right:0.5em
}
 .jobAction a:hover,
 .jobAction a:active {
	text-decoration:underline;
}
 a.jobApply{
	float:right;
	background:transparent url(img/jobapply.png) no-repeat 0% 50%;
	padding-left:16px;
}
 a.returnJobsList{
	float:left;
	background:transparent url(img/returnjobslist.png) no-repeat 0% 50%;
	padding-left:16px;
}
/*****************************************************************************	*
*  jobsApplyForm
******************************************************************************/
 div.jobsApplyForm{
	clear:both;
	margin:1em auto;
	border:1px solid #ccc;
	padding:0.5em 0;
}
 .jobsApplyForm legend{
	display:none;
}
 .jobsApplyForm fieldset{
	border:none;
}
 .jobsApplyForm input,  .jobsApplyForm textarea {
	width:45%
}
 .jobsApplyForm input.button {
	width:auto
}
