 .userMyBookmarksList .floatright{
	margin:0px 5px;
}
/******************************************************************************
*  user My Bookmarks List
******************************************************************************/
 .userMyBookmarksList .small {
	font-size:0.85em;
	color:#999
}
 ul.userMyBookmarksList  {
	position:relative;
	margin:0;
	margin:1em;
	list-style:none;
	padding:0
}
 .userMyBookmarksList li {
	border-bottom:1px dotted #ccc ;
	padding:2px 5px;
	margin:0;
	list-style:none;
}
 .userMyBookmarksList li p {
	padding:0;
}
 .userMyBookmarksList li:last-child {
	border-bottom-color:none;
}
 ul.userMyBookmarksList li:hover{
	background-color:#eaeaea
}
 ul.userMyBookmarksList a,
 ul.userMyBookmarksList a:link,
 ul.userMyBookmarksList a:visited {
	text-decoration: none;
}
 ul.userMyBookmarksList a:hover,
 ul.userMyBookmarksList a:active {
	text-decoration:underline;
}
 a.userMyBookmarksListIcon {
	background:transparent url(img/bookmark.png) no-repeat scroll 0.2em 0;
	padding-left:24px;
}

