 .voteText{
	display:none;
}
 .voteblock{float:right; clear:both;}
 .voteblock a,  .voteblock div.positiveVote,  .voteblock div.negativeVote{ padding:5px 10px; display:block;float:left; margin:2px;}
 .voteblock a.positiveVote, .voteblock a.positiveVote:hover,  .voteblock div.positiveVote {background: url(img/positive.png) no-repeat right 50%; padding-right:20px; text-decoration:none; font-weight:bold}
 .voteblock a.negativeVote , .voteblock a.negativeVote:hover,  .voteblock div.negativeVote {background: url(img/negative.png) no-repeat right 50%; padding-right:20px; text-decoration:none; font-weight:bold}
