/******************************************************************************
*  FAQ
******************************************************************************/

 .faqList li {
	margin-bottom:10px
}
 .faqList .faqQuestion{
	margin-bottom:0;
}
 .faqList .faqAnswer{
	margin:0 0 0 20px
}
