 .socialsharing
{
    list-style-type :none;
}
 .socialsharing li
{
     display:inline;
     margin:5px;
}

 .socialsharing-small
{
    list-style-type :none;
	margin:1em;
}
 .socialsharing-small li
{
     display:inline;
     margin:2px;
}