#* @vtlvariable name="user" type="org.jahia.services.usermanager.JahiaUser" *#
#* @vtlvariable name="link" type="java.lang.String" *#
#* @vtlvariable name="bundle" type="java.util.ResourceBundle" *#
<html>
<body>
<h1>${bundle.getString("passwordrecovery.for.user")} ${user.getProperty("j:firstName")} ${user.getProperty("j:lastName")}</h1>
<p><a href="${link}">${bundle.getString("passwordrecovery.click.here")}</a></p>
</body>
</html>