/******************************************************************************
*  Template converter
******************************************************************************/
/*Form formLoginConverter*/
 .formLoginConverter {
	margin:0
}
 .formLoginConverter fieldset {
	border:none	
}
 .formLoginConverter legend {
	display:none	
}
 .formLoginConverter p {
	padding:0;
	margin:0 0 0.2em 0;
}
 .formLoginConverter input.field,  .formLoginConverter textarea {
	width:50%;
}
/*Other form*/
 div.formconvertertransform,
 div.formconverterupload {
	margin:0 ;	
}
/******************************************************************************
*  boxconverter
******************************************************************************/
 div.boxconverter {
	position:relative;
	clear:both;
}

 div.boxconverter h3.boxconvertertitleh3 {
	margin-top:0;
	padding-top:0;
	display:inline
}
 div.boxconverter-inner {
	background-color:#fff;
	border:1px solid #cecece;
	height:1%;

}

 .boxconverter-inner .boxconverter-inner-border {
	border:1px solid #fff;
	height:1%;
	background-color:#fff;
}
/*boxconvertershadow*/
 div.boxconvertershadow {
	border:1px solid #cecece;
}

 div.boxconvertershadow div.boxconverter-inner {
	background-color:#fff;
	border:1px solid #cecece;
	margin:-2px 0 0 -2px;
}
/*boxconverter color*/
 .boxconvertergrey .boxconverter-inner .boxconverter-inner-border {
	background-color:#e1e1e1
}
 .boxconverteryellow .boxconverter-inner .boxconverter-inner-border {
	background-color:#FCF0BA
}
 .boxconverterwhite .boxconverter-inner {
	background-color:#fff
}
 .boxconverterred .boxconverter-inner .boxconverter-inner-border {
	background-color:#ffcccc
}
 .boxconvertergreen .boxconverter-inner .boxconverter-inner-border {
	background-color:#ccffcc
}
 .boxconverterwhite .boxconverter-inner .boxconverter-inner-border {
	background-color:#fff
}

/*boxconverter padding*/
 .boxconverterpadding16 .boxconverter-inner .boxconverter-inner-border {
	padding:16px;
}
 .boxconverterpadding10 .boxconverter-inner .boxconverter-inner-border {
	padding:10px;
}

/*boxconverter margin*/
 .boxconvertermarginbottom16{
	margin-bottom:16px;
}
/*boxconverter title*/
 h4.boxconverter-title {
	background:#666666 url(../img/boxconverter-h4title.png) repeat-x top right;
	border:1px solid #666666;
	color:#fff;
	font-size:1.3em;
	margin-left:0;
	padding:5px;
	text-align:center;
	font-weight:normal;
	clear:both;
	margin:0;
}
/*boxconverter title*/
 h4.boxconverter-title2 {
	background:#000000 url(../img/boxconverter-h4title2.png) repeat-x top right;
	border:1px solid #000000;
	color:#fff;
	font-size:1.3em;
	margin-left:0;
	padding:5px;
	text-align:center;
	font-weight:normal;
	clear:both;
	margin:0;
}

/*itemImageLeft*/
 .imagefloatleft{
	margin-bottom:0px;
}
 .itemImageConverterArrow {
	margin:2px;
	margin-top:16px;
}
